extends ../application.pug

block content
  .container
    h1 Bulletin board
    hr
    each notice in notices
      .card.card-block
        .row
          .col-md-4.hidden-md-down
          .col-xs-12.col-md-8
            //- goes to notices.js file and /:id get request
            a(href="/notices/" + notice.id)
              h2= notice.title
            h5= notice.id
            p= notice.body
