//- include the application.pug file
extends ../application.pug

block content
  .container
    .card.card-block
      .row
        .col-xs-12.col-md-8
          //- gets title of the notice to display
          h2= notice.title
          //- gets body of the notice to display
          h5= notice.body
